body {
  background: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title{
  width: 100vw;
  display: flex;
}

.titlewrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 40px;
}

.linkhome{
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.linkhome {
  text-decoration: none;
}

.titleocean, .titlecats {
  font-size: 40px;
  font-weight: 800;
}

.titleocean{
  color: white;
}

.titlecats {
  color: #F1AE0C;
}

.oceancatslogo{
  padding-left: 20px;
  height: 60px;
  width: 60px;
}

.box{
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 5px solid #F1AE0C;
  justify-content: space-around;
}

.connecttitle {
  font-size: 45px;
  font-weight: 800;
}

.connecttitlecontainer, .minttitlecontainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.connecttitlecontainer, .minttitlecontainer, .socials {
  display: flex;
  align-items: center;
  justify-content: left;
}

.OtterHome {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.telegram, .twitter {
  border-radius: 25px;
  border: 2.5px solid #F1AE0C;
  margin-left: 10px;

}

.socials {
  margin-left: 30px;
}

.connectinfo{
  padding-bottom: 20px;
  color: rgb(204, 200, 200);
}

.connectcontent {
  width: auto;
  padding: 40px 40px 40px 40px;
}

.connectcontainer, .mintpagecontainer  {
  display: flex;
  align-items: center;
}

.pageart{
  margin: 40px;
  display: flex;
  justify-content: center;
  width: 340px;
  height: 340px;
  border-radius: 40px;
  border: 10px solid white; 
}

.pageartcontainer {
  display: flex;
  justify-content: center;
}

.solprice {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}


@media screen and (max-width: 1000px) {
  
  .connectcontainer, .mintpagecontainer{
    display: block;
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width: 700px) {
  

  .connecttitlecontainer, .minttitlecontainer {
    align-items: center;
    display: block;
    justify-content: center;
  }

  .socials{
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    justify-content: center;
  }
  .connecttitle {
    display: flex;
    justify-content: center;
  }

 .pageart {
    margin-top: 0;
    width: 60vw;
    height: 60vw;
  }


}

@media screen and (max-width: 550px) {

  .connecttitle {
    font-size: 7.5vw;
  }
  
  .titleocean, .titlecats {
    font-size: 7.5vw;
  }

  .oceancatslogo {
    width: 11vw;
    height: 11vw;
  }

  .connecttitlecontainer {
    margin-top: -40px;
  }

}